<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Konwersja liczby na zapis słowny</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <form class="form-horizontal" method="post" action="{% url 'result' %}"> {% csrf_token %}
                <fieldset>
                    <legend>Konwerter liczb na zapis słowny</legend>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="number_to_convert">Liczba do konwersji</label>
                        <div class="col-md-4">
                            <input id="number_to_convert" name="number_to_convert" type="text" placeholder="liczba"
                                   class="form-control input-md" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="submit"></label>
                        <div class="col-md-4">
                            <button id="submit" name="submit" class="btn btn-success">Dalej</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>