<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zapis słowny liczby- rezultat</title>
    <title>Konwersja liczby na zapis słowny</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <br />
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            {% if is_number %}
                <div class="alert alert-success">
                    Twoja liczba to {{ result_text }}
                </div>
            {% else %}
                <div class="alert alert-danger">
                    Podano niewłaściwe dane
                </div>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>